
.author {
  position: absolute;
  bottom: 1rem;
  color: #fe2079;
  font-family: 'Road Rage', Inconsolata, monospace;
  text-shadow: 0 0 40px #fe2079;
  font-size: 2rem;
}

.author > a {
  color: #fe2079;
  text-decoration: none;
}

.author > a:hover {
  color: #eee;
}
