@font-face {
  font-family: 'Road Rage';
  src: local('Road Rage'), url(../fonts/Road_Rage.otf) format('opentype');
}

.game__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #141622CC;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease;
  transition: background-color 1000ms ease;
  z-index: 1000;
  }

.game__subcontainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
}

.game__logo {
  height: 512px;
  width: 1024px;
}

.game__logo-small {
  height: 256px;
  width: 512px;
}

.game__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game__score-gameover {
  color: #fe2079;
  font-family: 'Commando', Inconsolata, monospace;
  font-size: 12rem;
  text-shadow: 0 0 10px #fe2079;
  margin: 0;
}

.game__score-title {
  color: #fe2079;
  font-family: 'Road Rage', Inconsolata, monospace;
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 0 40px #fe2079;
  margin: 0;
}

.game__score {
  color: #eee;
  font-family: 'Commando', Inconsolata, monospace;
  font-size: 10rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 0 20px #fe2079;
  margin: 0;
}

.game__menu-button {
  margin-top: 2rem;
  background: none;
  border-radius: 20px;
  border: 0;
  font-family: 'Road Rage', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 5rem;
  color: #fe2079;
  text-shadow: 0 0 40px #fe2079;
}

.game__menu-button:hover {
  color: #FFF;
  cursor: pointer;
}