@font-face {
  font-family: 'Road Rage';
  src: local('Road Rage'), url(/fonts/Road_Rage.otf) format('opentype');
}

@font-face {
  font-family: 'Commando';
  src: local('Commando'), url(/fonts/commando.ttf) format('truetype');
}